/* Text-color */
$text-primary: #444b58;
$text-secondary: #b2b5bb;
$text-light: #ffffff;

/* Button-color */
$brand-main: #f14f4f;
$border-button: #b2b5bb;
$button-disabled: #e5e5e5;

/* Background-color */
$background-white: #ffffff;
$background-figma: #a9afb7;
